@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using MVCQuest.Models.Entities
@model List<Article>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @if (Model.Count > 0 && Model is not null)
    {
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model)
                {
                    <tr>
                        <td>@article.Id</td>
                        <td>@article.Title</td>
                        <td>@article.Text</td>
                        <td>
                            <form action="/" method="post"></form>
                            <a class="btn btn-primary" asp-controller="Article" asp-action="Edit" asp-route-id="@article.Id">Edit</a>
                            <form asp-controller="Article" asp-action="Delete" asp-route-id="@article.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>Pas de données</h1>
    }

    <a class="btn btn-primary" asp-controller="Article" asp-action="Add">Add</a>


</body>
</html>